{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- About Blog Content - Aligned Left -->
    <div class="col-md-6 col-12 p-4">
      <div class="text-block">
        <h2 class="about-h2 header-trailer">🎬 About Blog</h2>
        <hr>
        <p class="card-text about-text">
            Welcome to a space where stories are revered and plots are dissected with passion. 
            <strong>This isn't just a blog—it's a stage</strong> for cinematic exploration, built from the ground up with 
            <span class="about-span">Django</span> and the heart of a storyteller.
        </p>
        <p class="card-text about-text">
            🖋️<strong>Creator's Vision:</strong> Born from a deep love of narrative craft, this platform dives into the art of 
            plot creation—celebrating bold twists, subtle arcs, and everything between. Each review is a tribute to the brilliance of storytelling.
        </p>
        <p class="card-text about-text">
            💻<strong>Behind the Scenes:</strong> Powered by <span class="about-span">Python</span> and <span class="about-span">Django</span>, the site showcases responsive design, modular templates, 
            and intuitive search—all orchestrated for a smooth user experience.
        </p>
        <p class="card-text about-text">
            🚀<strong>Mission:</strong> To combine technical precision with creative depth, giving users a place to engage with films through 
            insightful reviews, powerful search, and a clean, immersive design.
        </p>
      </div>
    </div>

    <!-- Submit Review Request Content - Aligned Right -->
    <div class="col-md-6 col-12 p-4">
      <h2 class="about-h2 header-trailer">🎥 Film Review</h2>
      <div class="dark-bg text-white text-block">
        <form method="post" class="p-4 text-white form-element">
        <p class="text-white card-text about-text">Want me to review a film? Submit here!</p>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-signup btn-lg btn-outline-success mt-2">Submit Request</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a href="https://github.com/BAkinmarin" class="about-link" target="_blank"> 🔗Visit My Portfolio</a>
</div>
{% endblock %}

{% block copyright %}
    © 2025 Bola Akinmarin
{% endblock %}