{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Structure inspired by Dan Morriss's Nialls Barbershop Project -->
<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>🎬 404: Scene Missing</h1>
            <br>
            <h1>You've reached a plot twist! Let’s get you back on track!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <a href="{% url 'home' %}" class="btn right pt-3 about-link header-trailer" type="submit"><h1>🎥 Take Me Home!</h1></a>
        </div>
    </div>
</div>
{% endblock %}

{% block copyright %}
    © 2025 Bola Akinmarin
{% endblock %}